/* Global Rules */
:root{
    --main-color: #afdb83;
    --light-color: #FFF5E4;
    --dark-color: #143D60;
    --orange-color: #ff8436;
    --light-blue-color: #687fff;
    --red-color: #8e000e;
}

.bg-color-light-blue {
    background-color: var(--light-blue-color);
}

.bg-color-offwhite {
    background-color: var(--light-color);
}

.bg-color-main {
    background-color: var(--main-color);
}

.bg-color-dark {
    background-color: var(--dark-color);
}

.bg-color-orange {
    background-color: var(--orange-color);
}

body, .app {
    height: 100vh;
}

h1>span,
h2>span,
h3>span,
h4>span,
h5>span,
h6>span,
p>span,
p>a{
    color: var(--orange-color);
}

.main-content {
    width: calc(100% - 280px);
}

.main-content .content {
    min-height: calc(100vh - 117px);
}

/* End of global rules */

/* Navbar */
.navbar {
    background-color: var(--dark-color) !important;
}

.navbar .dropdown-menu.show {
    right: 5px;
    left: unset;
}

/* End of Navbar */
/* Sidebar */
.sidebar {
    background-color: var(--dark-color) !important;
}

.sidebar .logo {
    font-weight: bold;
    color: var(--orange-color);
}

.sidebar .nav-link {
    color: var(--light-color);
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.sidebar .nav-link:hover {
    background-color: var(--light-color);
    color: var(--orange-color);
}

/* End of sidebar */

/* Home section */
.home-section .box .info a {
    color: var(--dark-color);
    font-weight: 500;
}
.home-section .box.box-mentors .info a,
.home-section .box.box-mentors .count h5,
.home-section .box.box-admins .info a,
.home-section .box.box-admins .count h5 {
    color: var(--light-color);
}


/* End of home section */

/* Breadcrumb */
.breadcrumb li a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
}
/* End of Breadcrumb */

/* Skills Page */
.section .card-data {
    box-shadow: 0 0 6px 1px hsl(0deg 0% 0% / 9%);
    border-color: snow;
}
.section .card-data .card-header{
    padding: 2rem 2rem 1rem;
    background-color: var(--light-color);
    
}
.section .card-data .card-header h1{
    font-size: 1.8rem;
    color: var(--dark-color);
    margin-bottom: 0;
}
.section .card-data .card-body {
    padding: 2rem 2rem 1rem;
}
.section .card-data .card-body table{
    text-align: center;
}



/* Footer */
.footer{
    padding-top: 18px;
    padding-bottom: 18px;
    color: var(--dark-color);
    background-color: var(--light-color);
}

.footer p {
    font-size: 16.8px;
}
.footer a,
.footer a:hover {
    text-decoration: none;
    color: var(--orange-color);
}

/* End of footer */


/* Buttons */
.btn-create,
.btn-submit {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
    line-height: 1 !important;
    padding: .5rem 2rem !important;
}

.btn-edit {
    background-color: var(--orange-color) !important;
    color: var(--dark-color) !important;
    line-height: 1 !important;
    padding: .5rem 2rem !important;
}

.btn-delete {
    background-color: var(--red-color) !important;
    border-color: var(--red-color);
    color: var(--light-color) !important;
    line-height: 1 !important;
    padding: .5rem 2rem !important;
}
/* End of Buttons */


