/* Global Rules */
:root{
    --main-color: #6A9C89;
    --light-color: #FFF5E4;
    --dark-color: #143D60;
    --orange-color: #DF6D14;

}

.logo{
    color: var(--dark-color);
}

h1>span,
h2>span,
h3>span,
h4>span,
h5>span,
h6>span,
p>span,
p>a{
    color: var(--orange-color);
}

.btn-nav {
    padding-right: 20px !important;
    padding-left: 20px !important;
    line-height: 1.3;
    color: var(--light-color) !important;
    background-color: var(--dark-color);
}
.btn-nav:hover {
    color: var(--orange-color) !important;
}
/* End of Global Rules */

/* Navbar */
.navbar {
    background-color: var(--light-color);
}

.navbar .navbar-brand {
    font-weight: 700;
    color: var(--dark-color);
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link{
    font-size: 16.5px;
    color: var(--dark-color);
}


/* End of Navbar */

/* sign section */
.sign-section {
    
}

/* End of sign-section */

/* Footer */
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--light-color);
    background-color: var(--dark-color);
}

.footer p {
    font-size: 16.8px;
}
.footer a,
.footer a:hover {
    text-decoration: none;
    color: var(--orange-color);
}


/* End of Footer */
